@font-face {
  font-family: "DungGeunMo";
  src: url("./DungGeunMo.woff2") format("woff2") url("./DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
